* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

header {
    background-color: lightcoral;
}

main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

footer {
    justify-self: flex-end;
    background-color: orange;
}